In [ ]:

tierra = 149597870
jupiter = 778547200

distancia_jupiter_tierra_km = jupiter - tierra 
distancia_tierra_jupiter_mll = distancia_jupiter_tierra_km  * 0.621

print(distancia_jupiter_tierra_km)
print(distancia_tierra_jupiter_mll)